html,
body {
    height: 100%;
}

.content {
    margin-top:100px;
}
.github-user-list{
    margin-top: 40px;
}
.item-inner-box{
    margin: 0 20% 0 5%;
    display:flex!important;
    justify-content: space-between;
}
